.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/spots-avatar-and-card-images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.3s ease, background-image 0.3s ease;
}

.card__like-btn:hover {
  cursor: pointer;
  color: black;
  opacity: 100%;
}

@media screen and (max-width: 628px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
