.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header__logo {
  max-width: 100%;
  width: 94px;
  height: auto;
}
